<div id="particles-js">
  <div class="header">
    <body style = "background-color: #b6c0d0;">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
      	<a aria-label="github" href="https://github.com/rehtsira"><i class="icon fa fa-github" aria-hidden="true"></i></a>
	
      </div>
      <div class="header-links">
      
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
      </body>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
